.card {
  background-color: white;
  width: 500px;
  height: 100px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  margin: 5px auto;
  display: flex;
  img {
    width: 100px;
    padding: 5px;
  }

  .content {
    padding: 30px 15px;
    h3 {
      color: blue;
      cursor: pointer;
    }
    h3 {
      margin: 0;
    }
  }
  @media (max-width: 500px) {
    max-width: 320px;
    .content {
      padding: 5px;
    }
    h3 {
      margin: 0;
    }
  }
}
